/* Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

*/
/* home */


.home__header {
    background-color: var(--colorAmarillo);
    padding: 20px 0;
    
}

.home__header__logo img {
    width: 150px;
    padding:10px 20px;
}

.home__header__serch-bar {
    padding: 15px 20px;
    width:25px;
    
}

.home__header__serch-bar button i{
    text-align: left;
   
}

.home__header__nav {
    font-size: 8px;
    text-align: center;
    font-weight: 100;
}

.home__header__nav__navbar ul ,
.home__header__nav__login-bar ul{
    padding: 0;
    margin: 0; 
    margin-bottom: 15px;
   
}

.home__header__burger-menu  {
    background-color: var(--colorCeleste);
    color: #ffffff;
    display: block;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin : auto; 
    width: 40px;
    height: 40px;
    
    
}

/* Main */

.home__main {
    background-color: var(--colorGrisClaro);
    border: solid 1px white;
    
}

.home__main__section h3 {
    font-size: 24px;
    text-align: center;
}

.home__main__section__product {
    border: solid 1px white;
    background-color: white;
    margin: 10px;


}

.home__main__section__product img {
    width: 100%;
    height: auto;

}

.home__main__section__product__descripcion {
    border-top: solid 1px var(--colorGrisClaro);
    padding: 15px;
    line-height: 25px;

}

.home__main__section__product__descripcion button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px var(--colorVerde);
    background-color: white;
}

.home__main__section__product__descripcion i {
    font-size: 15px;
    color: var(--colorVerde);

}

.home__main__section__product__descripcion .porcentaje {
    color: var(--colorVerde);

}

.home__main__section__product__descripcion p,
h4 {
    font-size: 16px;


}

/* Footer */

.home__footer {
    text-align: center;
    padding: 40px;
    padding-bottom: 0;
}

.home__footer__section div {
    padding-bottom: 40px;

}

.home__footer__section i {
    color: var(--colorCeleste);
    font-size: 2em;
    margin-bottom: 10px;
}

.home__footer__section h4 {
    text-align: center;
}

.home__footer__section p {
    font-size: 12px;
    color: var(--colorGrisOscuro);
}

.final-de-pie {
    margin-bottom: 0px;
}



@media (min-width:768px){
    /* header */

    .home {
        font-size: 12px;
    }
    
    .home__header {
        background-color: red;
        padding: 20px;
    }
    
    .home__header__logo img {
        width: 200px;
    }
    
    .home__header__serch-bar {
        margin-bottom: 20px;
        
    }
    
    .home__header__nav {
        margin-bottom: 30px;
        
    
    }
    
    .home__header__nav__navbar {
        text-align: left;
        /* display: none; */
        
    }
    
    .home__header__nav__navbar ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .home__header__nav__navbar a {
        text-decoration: none;
        color: #222;
        display: inline-block;
        padding: 5px 0;
        font-size: 17px;
        
    }
    
    .home__header__burger-menu {
        background-color: var(--colorCeleste);
        color: #fff;
        display: block;
        max-width: 50px;
        padding: 15px 0;
        border-radius: 8px;
        text-align: center;
        font-size: 18px;
        margin: auto;
        width: 50px;
        height: 50px;
    }

    
   
    /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
}